main {
  background-color: var(--bg);
  padding: 1.625rem 1.125rem;
  padding-block-start: 0;
  inline-size: 85vw;
  block-size: auto;
  border-start-end-radius: .8rem;
  border-start-start-radius: .8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  grid-area: dataWeather;
  align-self: center;
  justify-self: self-start;
  justify-self: center;
  align-self: center;
  touch-action: none;
}

#draggable {
  inline-size:auto;
  block-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#draggable::before {
  content: " ";
  inline-size: 4rem;
  block-size: .4rem;
  background: var(--white);
  border-radius: .5rem;
  margin: auto;
}

.containerTime {
  column-gap: 1.5rem;
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  user-select: none;
}

.containerTime::-webkit-scrollbar {
  display: none;
}

.containerTime .tabDays {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.containerTime .tabDays h2 {
  color: var(--white);
  font: var(--body1-regular);
  font-size: 1rem;
  white-space: nowrap;
  margin: 0;
  block-size: auto;
}

.containerTime .tabDays:focus h2 {
  color: var(--primary);
  font: var(--body1-bold);
  box-shadow: inset 0px -8px 0px -5px var(--primary);
  user-select: none;
}

.containerWeather {
  block-size: auto;
  gap: 1rem;
  display: none;
  overflow: auto;
  justify-content: flex-start;
  padding-block-end: .6rem;
}

.containerWeather::-webkit-scrollbar {
  block-size: .2rem;
  background: var(--bg);
}

.containerWeather::-webkit-scrollbar-thumb {
  background: var(--grey);
}

.containerWeather .tabTemp {
  block-size: 7rem;
  background-color: var(--grey);
  border-radius: 3.625rem;
  color: var(--white);
  font: var(--body2-regular);
  font-size: .75rem;
  border: none;
  padding: .5rem;
  min-inline-size: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.containerWeather #temp {
  inline-size: 2.5rem;
  block-size: auto;
  color: var(--white);
  font: var(--body1-bold);
  text-align: center;
}

.containerWeather h2 {
  color: white;
  font: var(--body1-regular);
  margin: auto;
}

.containerWeather button:focus {
  border: 3px solid var(--primary);
}

.containerDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  display: none;
}

.containerDetails div {
  display: flex;
  gap: .5rem;
}

.containerDetails label {
  color: var(--white);
  font: var(--body1-regular);
  font-size: 1rem;
}

.containerDetails input {
  background: transparent;
  inline-size: 100%;
  border: none;
  user-select: none;
  outline: none;
  color: var(--white);
  font: var(--body1-bold);
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  main {
    inline-size: 52vw;
  }
  .containerWeather {
    justify-content: center;
  }
  .containerTime {
    justify-content: center;
  }
}