section {
  background: var(--gradient);
  inline-size: 14.5rem;
  block-size: 5.6875rem;
  margin: auto;
  position: relative;
  inset-block-start: calc(100vh - 45rem);
  display: grid;
  grid-template-columns: 7.5rem 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "temp dataTime" "temp ubi";
  border-radius: .5rem;
  row-gap: .5rem;
}

#tempGps {
  background: transparent;
  border: none;
  grid-area: temp;
  inline-size: 4rem;
  block-size: auto;
  place-self: center;
  font-size: 2.8rem;
  color: var(--white);
  display: flex;
  justify-content: center;
}

#dataTime {
  inline-size: 1rem;
  block-size: auto;
  grid-area: dataTime;
  justify-content: start;
  align-self: flex-end;
  inline-size: 100%;
  background: transparent;
  padding: 0;
  border: none;
  font: var(--caption-caption);
  color: var(--white);
  display: flex;
}

#dateGps {
  inline-size: 1rem;
  block-size: 1rem;
  grid-area: ubi;
  inline-size: 100%;
  background: transparent;
  padding: 0;
  border: none;
  font: var(--caption-caption);
  color: var(--white);
  display: flex;
  gap: .5rem;
}

#dateGps::before{
  content: url(../icon/gps.svg);
}